.steps-form {
  margin-top: 60px;
  margin-left: 40px;

  width: 500px;

  display: flex;
  justify-content: space-between;
}

.input-box {
  position: relative;
}

.input-label {
  position: absolute;
  top: -30px;

  font-size: 14px;
}

.input {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid black;
}

.input-button {
  background-color: white;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 8px;

  transition: 0.2s ease-in-out;
}

.input-button:hover {
  background-color: lightgrey;
}

.list-wrapper {
  margin-left: 40px;
  margin-top: 20px;

  width: 500px;
}

.list-title {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.list-title h3 {
  font-size: 14px;
  font-weight: 400;
}

.list {
  list-style-type: none;
  padding: 0 25px;
  border: 1px solid black;
  border-radius: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item p {
  font-size: 14px;
}

.list-item div {
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
